.main_header {
  background-color: #f9c72f;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: relative; }
  .main_header .header_container {
    position: absolute;
    width: 65%;
    display: flex;
    justify-content: space-between; }
  .main_header .header_img {
    padding: 80px; }
    .main_header .header_img img {
      height: 350px; }
  .main_header .logo_container img {
    width: 102px;
    height: 68px; }
  .main_header .navbar {
    display: flex;
    align-items: center; }
    .main_header .navbar a {
      text-decoration: none;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #000; }
    .main_header .navbar div {
      padding-right: 20px; }
    .main_header .navbar img {
      padding-right: 4px;
      cursor: pointer; }

.main_header_about_page {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  padding: 10px 0; }
  .main_header_about_page .header_container {
    width: 65%;
    display: flex;
    justify-content: space-between; }
  .main_header_about_page .logo_container img {
    width: 102px;
    height: 68px; }
  .main_header_about_page .navbar {
    display: flex;
    align-items: center; }
    .main_header_about_page .navbar a {
      text-decoration: none;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #000; }
    .main_header_about_page .navbar div {
      padding-right: 20px; }
    .main_header_about_page .navbar img {
      padding-right: 4px;
      cursor: pointer; }

@media (max-width: 990px) {
  .navbar a {
    display: none; } }

.main_section_courses {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0; }
  .main_section_courses .courses {
    width: 65%;
    padding: 40px 0 40px 0;
    text-align: center; }
    .main_section_courses .courses h1 {
      font-weight: 900;
      font-size: 60px;
      line-height: 70px;
      color: #e35205; }
    .main_section_courses .courses span {
      color: blue;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 29px;
      letter-spacing: 0.6em; }
    .main_section_courses .courses .container_courses div {
      box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
      border-radius: 35px;
      width: 100%;
      height: 250px;
      position: relative;
      justify-content: center; }
      .main_section_courses .courses .container_courses div span {
        display: flex;
        bottom: 0;
        position: absolute;
        color: #e35205;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        line-height: 29px;
        letter-spacing: 0 !important;
        left: 25%;
        padding: 20px 20px 20px 20px; }

.container_courses {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1vw;
  padding: 40px 0 40px 0; }

@media (max-width: 1001px) {
  .container_courses {
    grid-template-columns: 500px;
    text-align: center;
    justify-content: center;
    padding: 10px 0; } }

.section_about {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0; }
  .section_about .container_about {
    width: 900px; }
    .section_about .container_about h1 {
      font-weight: 900;
      font-size: 60px;
      line-height: 70px;
      text-align: center;
      color: #e35205; }
    .section_about .container_about p {
      padding: 20px 0 20px 0;
      font-weight: 300;
      font-size: 18px;
      line-height: 32px;
      text-align: justify;
      letter-spacing: 0.01em;
      color: #555555; }
    .section_about .container_about .partner_container {
      padding-top: 40px; }
      .section_about .container_about .partner_container h3 {
        text-align: center;
        color: #e35205;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 29px;
        letter-spacing: 0.6em;
        padding-bottom: 30px; }

.img_container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2vw;
  padding-top: 30px;
  padding: 20px 0 20px 0;
  justify-content: space-between; }
  .img_container div {
    background: #ffffff;
    box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
    border-radius: 35px; }
  .img_container img {
    width: 100%; }

@media (max-width: 1001px) {
  .container_about {
    padding: 20px; }
    .container_about .img_container {
      grid-template-columns: repeat(3, 1fr); } }

#news {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0; }
  #news .new-container {
    width: 65%; }
    #news .new-container div h1 {
      font-weight: 900;
      font-size: 60px;
      line-height: 70px;
      color: #e35205;
      text-align: center; }
    #news .new-container div h5 {
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      letter-spacing: 0.6em;
      color: #614541; }
  #news .news-conatainer .info_container {
    box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
    border-radius: 35px; }
    #news .news-conatainer .info_container img {
      border-radius: 35px;
      width: 100%; }
    #news .news-conatainer .info_container div {
      padding-left: 10px; }
    #news .news-conatainer .info_container h3 {
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 35px;
      color: #e35205; }
    #news .news-conatainer .info_container span {
      display: block;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 32px;
      letter-spacing: 0.01em;
      color: #5e8ab4;
      opacity: 0.6;
      line-height: 1.8; }
    #news .news-conatainer .info_container p {
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 32px;
      letter-spacing: 0.01em;
      color: #555555; }

.news-conatainer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vw;
  padding-top: 30px; }

@media (max-width: 1001px) {
  .news-conatainer {
    grid-template-columns: repeat(1, 1fr); } }

footer {
  background-color: black; }
  footer .footer_container {
    display: flex;
    color: blanchedalmond; }
    footer .footer_container .addrsee_container {
      display: inline-block;
      padding: 40px 34px 20px 170px; }
      footer .footer_container .addrsee_container h2 {
        padding-bottom: 25px; }
      footer .footer_container .addrsee_container .link_a {
        padding-left: 15px !important;
        height: 40px;
        background-color: gray;
        border-radius: 25px;
        padding: 0; }
        footer .footer_container .addrsee_container .link_a a {
          text-decoration: none;
          color: black; }
      footer .footer_container .addrsee_container p {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.01em;
        padding-bottom: 25px; }
      footer .footer_container .addrsee_container h3 {
        padding-bottom: 25px; }
      footer .footer_container .addrsee_container .footer_icon_container {
        padding-bottom: 25px; }
    footer .footer_container .links_container {
      display: inline-block;
      padding: 40px 34px 0 170px; }
      footer .footer_container .links_container p {
        padding-top: 40px;
        border-bottom: 1px solid #ffffff; }
        footer .footer_container .links_container p img {
          left: 0; }
  footer .copyright_container {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #ffffff;
    padding: 20px 0px 20px 0px; }

.section_about {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0; }
  .section_about .container_about {
    width: 900px; }
    .section_about .container_about h1 {
      font-weight: 900;
      font-size: 60px;
      line-height: 70px;
      text-align: center;
      color: #e35205; }
    .section_about .container_about span {
      padding: 20px 0 20px 0;
      color: blue;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 29px;
      letter-spacing: 0.6em; }
    .section_about .container_about p {
      padding: 20px 0 20px 0;
      font-weight: 300;
      font-size: 18px;
      line-height: 32px;
      text-align: justify;
      letter-spacing: 0.01em;
      color: #555555; }
    .section_about .container_about .partner_container {
      padding-top: 40px; }
      .section_about .container_about .partner_container h3 {
        text-align: center;
        color: #e35205;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 29px;
        letter-spacing: 0.6em; }

.img_containers {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2vw;
  padding-top: 30px;
  padding: 20px 0 20px 0;
  justify-content: space-between; }
  .img_containers div {
    background: #ffffff;
    box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
    border-radius: 35px; }
  .img_containers img {
    width: 100%; }

@media (max-width: 1001px) {
  .container_about {
    padding: 20px; }
    .container_about .img_containers {
      grid-template-columns: repeat(3, 1fr); } }

.main_section_coursess {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0; }
  .main_section_coursess .coursess {
    width: 65%;
    padding: 40px 0 40px 0;
    text-align: center; }
    .main_section_coursess .coursess h1 {
      font-weight: 900;
      font-size: 60px;
      line-height: 70px;
      color: #A0072B; }
    .main_section_coursess .coursess span {
      color: gray;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 29px;
      letter-spacing: 0.6em; }
    .main_section_coursess .coursess .container_coursess div {
      box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
      border-radius: 35px;
      width: 500px;
      height: 250px;
      position: relative;
      justify-content: center; }
      .main_section_coursess .coursess .container_coursess div span {
        display: flex;
        bottom: 0;
        position: absolute;
        color: #A0072B;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        line-height: 29px;
        letter-spacing: 0 !important;
        left: 25%;
        padding: 20px 20px 20px 20px; }

.container_coursess {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1vw;
  padding: 40px 0 40px 0; }

@media (max-width: 990px) {
  .container_coursess {
    grid-template-columns: 500px;
    text-align: center;
    justify-content: center;
    padding: 10px 0; } }

.main_contact_container {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0; }
  .main_contact_container .contact_container {
    width: 900px; }
    .main_contact_container .contact_container h1 {
      font-style: normal;
      font-weight: 900;
      font-size: 60px;
      line-height: 70px;
      color: #a0072b; }
    .main_contact_container .contact_container span {
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 29px;
      text-align: center;
      letter-spacing: 0.6em;
      color: #614541;
      padding-bottom: 30px;
      display: block; }
    .main_contact_container .contact_container .contact_form {
      padding-bottom: 40px;
      background: #ffffff;
      box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.2);
      border-radius: 25px; }
      .main_contact_container .contact_container .contact_form input {
        width: 400px;
        height: 50px;
        background: #ffffff;
        box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.15);
        border-radius: 35px;
        border: 1px solid white;
        margin-bottom: 40px; }
      .main_contact_container .contact_container .contact_form input::-webkit-input-placeholder {
        font-family: Segoe UI;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        padding-left: 30px;
        color: #555555; }
      .main_contact_container .contact_container .contact_form span {
        padding: 30px 0 30px 0;
        display: block; }
      .main_contact_container .contact_container .contact_form .input_message {
        width: 95%;
        height: 159px; }
      .main_contact_container .contact_container .contact_form button {
        border: none;
        width: 239px;
        height: 45px;
        left: 841px;
        top: 750px;
        background: #a0072b;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
        border-radius: 25px;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff; }
    .main_contact_container .contact_container .map_container {
      padding: 40px 0 60px 0;
      filter: drop-shadow(5px 5px 35px rgba(0, 0, 0, 0.25)); }
      .main_contact_container .contact_container .map_container iframe {
        border-radius: 35px;
        width: 100%; }

@media screen and (max-width: 1000px) {
  .main_contact_container .contact_container {
    width: 100%;
    padding: 20px; } }

#news {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0 80px 0; }
  #news .new-container {
    width: 65%; }
    #news .new-container .container_news h1 {
      font-weight: 900;
      font-size: 60px;
      line-height: 70px;
      color: #A0072B;
      text-align: center; }
    #news .new-container .container_news span {
      padding-bottom: 20px;
      color: #A0072B;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 29px;
      letter-spacing: 0.6em;
      display: flex;
      justify-content: center; }
  #news .news-conatainers .info_container {
    box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
    border-radius: 35px; }
    #news .news-conatainers .info_container img {
      border-radius: 35px;
      width: 100%; }
    #news .news-conatainers .info_container div {
      padding-left: 10px; }
    #news .news-conatainers .info_container h3 {
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 35px;
      color: #A0072B; }
    #news .news-conatainers .info_container span {
      display: block;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 32px;
      letter-spacing: 0.01em;
      color: #5e8ab4;
      opacity: 0.6;
      line-height: 1.8; }
    #news .news-conatainers .info_container p {
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 32px;
      letter-spacing: 0.01em;
      color: #555555; }

.news-conatainers {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vw;
  padding-top: 30px; }

@media (max-width: 1001px) {
  .news-conatainers {
    grid-template-columns: repeat(1, 1fr); } }

.event_section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0 40px 0; }
  .event_section .container_event {
    width: 1145px;
    background: #ffffff;
    box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
    border-radius: 35px; }
    .event_section .container_event h1 {
      color: #e35205;
      font-weight: 900;
      font-size: 60px;
      line-height: 70px;
      color: #A0072B;
      padding: 20px 0 20px 20px; }
    .event_section .container_event span {
      font-weight: 300;
      font-size: 16px;
      line-height: 32px;
      letter-spacing: 0.01em;
      color: #555555;
      display: block;
      font-style: normal;
      opacity: 0.6;
      padding-left: 20px; }
    .event_section .container_event p {
      padding: 20px 20px 80px 20px;
      font-weight: 300;
      font-size: 18px;
      line-height: 32px;
      text-align: justify;
      letter-spacing: 0.01em;
      color: #555555; }
    .event_section .container_event .containers_img {
      padding: 20px; }
      .event_section .container_event .containers_img .img15 {
        width: 230px;
        height: 193px; }
      .event_section .container_event .containers_img .img18 {
        width: 215px;
        height: 193px; }
    .event_section .container_event .event_icon_container {
      padding: 20px; }
      .event_section .container_event .event_icon_container img {
        width: 40px;
        padding: 5px; }

* {
  margin: 0;
  padding: 0;
  font-family: Roboto; }
