.main_section_courses {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    .courses {
        padding: 40px 0 40px 0;
        width: 65%;
        text-align: center;
        h1 {
            font-weight: 900;
            font-size: 60px;
            line-height: 70px;
            color: $font_color;
        }
        span {
            color: blue;
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            line-height: 29px;
            letter-spacing: 0.6em;
        }
        .container_coursess {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1vw;
            padding: 40px 0 40px 0;
            div {
                box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
                border-radius: 35px;
                width: 500px;
                height: 250px;
                position: relative;
                justify-content: center;
                span {
                    display: flex;
                    bottom: 0;
                    position: absolute;
                    color: $font_color;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 15px;
                    line-height: 29px;
                    letter-spacing: 0 !important;
                    left: 25%;
                    padding: 20px 20px 20px 20px;
                }
            }
        }
    }
}

@media (min-width: 990px) {
    .container_coursess {
        grid-template-columns: 1fr;
    }
}
