.main_section_coursess {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;

    .coursess {
        width: 65%;
        padding: 40px 0 40px 0;
        text-align: center;

        h1 {
            font-weight: 900;
            font-size: 60px;
            line-height: 70px;
            color: $font_color_news_page;
        }

        span {
            color: gray;
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            line-height: 29px;
            letter-spacing: 0.6em;
        }
        .container_coursess {
            div {
                box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
                border-radius: 35px;
                width: 500px;
                height: 250px;
                position: relative;
                justify-content: center;

                span {
                    display: flex;
                    bottom: 0;
                    position: absolute;
                    color: $font_color_news_page;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 15px;
                    line-height: 29px;
                    letter-spacing: 0 !important;
                    left: 25%;
                    padding: 20px 20px 20px 20px;
                }
            }
        }
    }
}

.container_coursess {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    padding: 40px 0 40px 0;
}

@media (max-width: 990px) {
    .container_coursess {
        grid-template-columns: 500px;
        text-align: center;
        justify-content: center;
        padding: 10px 0;
    }
}
