footer {
    background-color: black;
    .footer_container {
        display: flex;
        color: blanchedalmond;
        .addrsee_container {
            display: inline-block;
            padding: 40px 34px 20px 170px;
            h2 {
                padding-bottom: 25px;
            }
            .link_a {
                padding-left: 15px !important;
                height: 40px;
                background-color: gray;
                border-radius: 25px;
                padding: 0;
               a{
                text-decoration: none;
                color: black;
               }
            }
            p {
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 32px;
                letter-spacing: 0.01em;
                padding-bottom: 25px;
            }
            h3 {
                padding-bottom: 25px;
            }
            .footer_icon_container {
                padding-bottom: 25px;
            }
        }
        .links_container {
            display: inline-block;
            padding: 40px 34px 0 170px;
            p {
                padding-top: 40px;
                border-bottom: 1px solid #ffffff;
                img {
                    left: 0;
                }
            }
        }
    }
    .copyright_container {
        text-align: center;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #ffffff;
        padding: 20px 0px 20px 0px;
    }
}
