#news {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 80px 0;
    .new-container {
        width: 65%;
        .container_news {
            h1 {
                font-weight: 900;
                font-size: 60px;
                line-height: 70px;
                color: $font_color_news_page;
                text-align: center;
            }
            span {
                padding-bottom: 20px;
                color: $font_color_news_page;
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 29px;
                letter-spacing: 0.6em;
                display: flex;
                justify-content: center;
            }
        }
    }
    .news-conatainers {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2vw;
        padding-top: 30px;
    }
    .news-conatainers {
        .info_container {
            box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
            border-radius: 35px;
            img {
                border-radius: 35px;
                width: 100%;
            }
            div {
                padding-left: 10px;
            }

            h3 {
                font-style: normal;
                font-weight: 900;
                font-size: 30px;
                line-height: 35px;
                color: $font_color_news_page;
            }
            span {
                display: block;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 32px;
                letter-spacing: 0.01em;
                color: #5e8ab4;
                opacity: 0.6;
                line-height: 1.8;
            }
            p {
                font-style: normal;
                font-weight: 300;
                font-size: 15px;
                line-height: 32px;
                letter-spacing: 0.01em;
                color: #555555;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .news-conatainers {
        grid-template-columns: 1fr 1fr;
       
        
    }
}

