@import "variables";
@import "header";
@import "_courses";
@import "about";
@import "news";
@import "footer";
@import "about-page";
@import "courses-page";
*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}